
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,700&family=Poppins&display=swap');


:root {
  
  --theme : #2970ff;
  --black : #000;
  --white : #fff;
  --shadow-color : 0px 0px 30px 8px rgba(227,227,227,0.75);
 
  
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  font-family: 'Montserrat', sans-serif;
}
